---
import { getLocalizedPage, type Language } from "@/utils/i18n";

import HomeLayout from "@/layouts/pages/Home.astro";
export const prerender = true;
const lang = "en" satisfies Language;

const urls = {
  blog: getLocalizedPage(lang, "blog"),
  about: getLocalizedPage(lang, "about"),
  contact: getLocalizedPage(lang, "contact"),
};
---

<HomeLayout lang={lang} featuredPostSlug="en/entendiendo-los-snapshots-de-jest">
  <Fragment slot="jumbotron">
    <p class="mb-4 text-3xl tracking-wide md:mb-6 md:text-5xl md:leading-snug">
      Hi, I'm <span class="text-blue-900 dark:text-blue-50">Misael Taveras</span>
    </p>
    <p class="mb-2 md:mb-4">I'm a <span>FrontEnd Engineer</span> from the Dominican Republic.</p>
    <p class="mb-4 md:mb-6">
      I enjoy working with <span class="font-semibold">React</span>, <span class="font-semibold">TypeScript</span>, and <span
        class="font-semibold">Node</span
      >.
    </p>
    <p class="">
      Read more <a href={urls.about} class="font-semibold text-slate-950 underline dark:text-white" rel="prefetch"
        >about me here
      </a>.
    </p>
  </Fragment>

  <Fragment slot="blog">
    <h2>I also write a blog</h2>
    <p>
      There you'll find articles about porgramming, and sowftware, but also soft skilss like communication, productivity
      and learning.
    </p>
    <p>My end goal is to help people learn new things, and I do that by writing about the things I learn.</p>
  </Fragment>

  <Fragment slot="testimonials">
    <h2 class="text-center">Testimonials</h2>
    <p>
      Working with diferent teams and people, I've had the opportunity to learn a lot from them. Here are some of the
      things they've said about me.
    </p>
  </Fragment>
</HomeLayout>
