---
import type { AstroBuiltinAttributes } from "astro";
interface Props {
  withContainer?: boolean;
  class?: string;
  containerClass?: AstroBuiltinAttributes["class:list"];
  "class:list"?: AstroBuiltinAttributes["class:list"];
  resetAt?: "sm" | "md" | "lg" | "xl" | "2xl";
}
const { class: className, ["class:list"]: classList, withContainer, containerClass, resetAt } = Astro.props;
const smClassReset = "sm:static sm:left-auto sm:w-auto sm:min-w-auto";
const mdClassReset = "md:static md:left-auto md:w-auto md:min-w-auto";
const lgClassReset = "lg:static lg:left-auto lg:w-auto lg:min-w-auto";
const xlClassReset = "xl:static xl:left-auto xl:w-auto xl:min-w-auto";
const xxlClassReset = "2xl:static 2xl:left-auto 2xl:w-auto 2xl:min-w-auto";

const resets = {
  [smClassReset]: resetAt === "sm",
  [mdClassReset]: resetAt === "md",
  [lgClassReset]: resetAt === "lg",
  [xlClassReset]: resetAt === "xl",
  [xxlClassReset]: resetAt === "2xl",
};
---

<section
  class="relative left-[calc(-50vw_+_50%)] w-screen min-w-full px-8 py-12"
  class:list={[className, classList, resets]}
>
  {
    withContainer ? (
      <div class="container mx-auto" class:list={containerClass}>
        <slot />
      </div>
    ) : (
      <slot />
    )
  }
</section>
