---
import type { AstroBuiltinAttributes } from "astro";
interface Props {
  withContainer?: boolean;
  class?: string;
  "class:list"?: AstroBuiltinAttributes["class:list"];
}
const { class: className, ["class:list"]: classList, withContainer } = Astro.props;
---

<section class="relative left-[calc(-50vw_+_50%)] min-w-full w-screen px-8 py-12" class:list={[className, classList]}>
  {
    withContainer ? (
      <div class="mx-auto w-full container">
        <slot />
      </div>
    ) : (
      <slot />
    )
  }
</section>
