---
import TwitterLogo from "@/components/logos/Twitter.astro";
import GitHubLogo from "@/components/logos/GitHub.astro";
import LinkedInLogo from "@/components/logos/LinkedIn.astro";
import PodcastLogo from "@/components/logos/Podcast.astro";

const year = new Date().getFullYear();

/* eslint-disable @typescript-eslint/no-unsafe-assignment */
const social = [
  {
    href: "https://twitter.com/taverasmisael",
    text: "Twitter",
    icon: TwitterLogo,
  },
  {
    href: "https://www.linkedin.com/in/taverasmisael/",
    text: "LinkedIn",
    icon: LinkedInLogo,
  },
  {
    href: "https://github.com/taverasmisael",
    text: "GitHub",
    icon: GitHubLogo,
  },
  {
    href: "https://open.spotify.com/show/18Ty4rvMQVW7btwcXvo8Uq",
    text: "Podcast",
    icon: PodcastLogo,
  },
];
/* eslint-enable @typescript-eslint/no-unsafe-assignment */
---

<footer
  class="mx-auto mt-8 w-full max-w-7xl border-t border-slate-200/50 px-2 py-6 text-center text-xs dark:border-slate-800/50 sm:px-6 sm:text-left"
>
  <div class="sm:flex sm:items-center sm:justify-between">
    <h6 class="hidden sm:block">
      Todos los derechos reservados ©️{year} - <strong class="font-semibold">Misael Taveras</strong>
    </h6>
    <ul class="flex items-center justify-center gap-4">
      {
        social.map(link => (
          <a href={link.href} target="_blank" class="p-2 hover:text-slate-800 dark:hover:text-blue-50" target="_blank">
            <link.icon class="w-6 sm:w-5" />
          </a>
        ))
      }
    </ul>
  </div>
  <p class="block pb-2 text-slate-700 dark:text-slate-300 sm:hidden">
    <strong class="font-semibold">Misael Taveras</strong> ©️{year}
  </p>
</footer>
