---
import NavLink from "./NavLink.astro";
import { getLocalizedPage, getLangFromUrl, PAGE_NAMES } from "@/utils/i18n";

interface Props {
  activePage: string;
  isMobile?: boolean;
}

const { isMobile, activePage } = Astro.props;
const locale = getLangFromUrl(Astro.url, true);
const pages = PAGE_NAMES.map(name => ({
  name,
  path: getLocalizedPage(locale, name),
  href: getLocalizedPage(locale, name),
}));
---

<nav role="navigation" class="flex items-center justify-between gap-1 sm:gap-4" class:list={{ "p-2 pb-3": isMobile }}>
  {
    pages.map(page => (
      <NavLink isMobile={isMobile} isActive={activePage.startsWith(page.path)} href={page.href}>
        {page.name}
      </NavLink>
    ))
  }
</nav>
