---
import NavLink from "./NavLink.astro";
import { getLocalizedPage, getLangFromUrl, PAGE_NAMES, type PageName, useTranslation } from "@/utils/i18n";

interface Props {
  activePage: string;
  isMobile?: boolean;
}

const { isMobile, activePage } = Astro.props;
const ignoredPages = ["feed", "home"] satisfies PageName[];
type IgnoredPageName = typeof ignoredPages[number];
type ValidPageName =  Exclude<PageName, IgnoredPageName>

function isIgnoredPage(n: PageName): n is ValidPageName {
  return !ignoredPages.includes(n);
}

const validPages: ValidPageName[] = PAGE_NAMES.filter(isIgnoredPage);
const locale = getLangFromUrl(Astro.url, true);
const localizePage = (page: PageName) => getLocalizedPage(locale, page);
const t = useTranslation(locale);
const pages = validPages.map(name => ({
  name: t("navigation", name),
  path: localizePage(name),
  href: localizePage(name),
}));
---

<nav role="navigation" class="flex items-center justify-between gap-1 sm:gap-4" class:list={{ "p-2 pb-3": isMobile }}>
  {
    pages.map(page => (
      <NavLink isMobile={isMobile} isActive={activePage.startsWith(page.path)} href={page.href}>
        {page.name}
      </NavLink>
    ))
  }
</nav>
