---
import NavLink from "./NavLink.astro";
import {
  getLocalizedPage,
  PAGE_NAMES,
  type PageName,
  useTranslation,
  type Language,
} from "@/utils/i18n";

interface Props {
  activePage: string;
  isMobile?: boolean;
  lang: Language;
}

const { isMobile, activePage, lang } = Astro.props;
const ignoredPages = ["feed", "home"] satisfies PageName[];
type IgnoredPageName = (typeof ignoredPages)[number];
type ValidPageName = Exclude<PageName, IgnoredPageName>;

function isIgnoredPage(n: PageName): n is ValidPageName {
  return !ignoredPages.includes(n);
}

const validPages: ValidPageName[] = PAGE_NAMES.filter(isIgnoredPage);
const localizePage = (page: PageName) => getLocalizedPage(lang, page);
const t = useTranslation(lang);
const pages = validPages.map(name => ({
  name: t("navigation", name),
  path: localizePage(name),
  href: localizePage(name),
}));
---

<nav role="navigation" class="mx-auto flex max-w-md items-center justify-between gap-1 sm:gap-4" class:list={{ "p-2 pb-3": isMobile }}>
  {
    pages.map(page => (
      <NavLink isMobile={isMobile} isActive={activePage.startsWith(page.path)} href={page.href}>
        {page.name}
      </NavLink>
    ))
  }
</nav>
