---
import { path, split, pipe, filter } from "rambda";
import Layout from "@/layouts/WithMiniHeader.astro";
import { DEFAULT_LOCALE, getFullLocalizedPath, isSupportedLang, useTranslation } from "@/utils/i18n";
import { slugToCanonical } from "@/utils/content";

export const prerender = true;

const search = new URLSearchParams(Astro.url.search).get("from") ?? "";
const localeFromSearch = pipe(split("/"), filter(Boolean), path("0"))(search) as string;

const lang = isSupportedLang(localeFromSearch) ? localeFromSearch : DEFAULT_LOCALE;
const getLocalizedPath = getFullLocalizedPath(lang);
const homeURL = getLocalizedPath("/");
const luckyURL = getLocalizedPath("/random");

const t = useTranslation(lang);
const canonical = slugToCanonical("/404");
---

<Layout
  fullHeight
  canonical={canonical}
  lang={lang}
  description={t("messages", "page_not_found_description")}
  title={t("messages", "page_not_found")}
  class="flex h-full flex-col dark:!bg-slate-900"
>
  <main class="grid flex-1 place-items-center px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <p class="text-xl text-slate-600 dark:text-slate-300 sm:text-4xl">404</p>
      <h1 class="mb-10 text-4xl font-bold sm:mb-12 sm:text-6xl">{t("messages", "page_not_found_description")}</h1>
      <p class="mb-24 sm:mb-20">{t("messages", "page_not_found_message")}</p>
      <div class="space-x-8">
        <a
          href={homeURL}
          class="inline-block rounded-md bg-blue-50 px-6 py-3 font-semibold shadow-sm transition-colors hover:bg-blue-100/50 active:bg-blue-100 dark:bg-slate-800 dark:hover:bg-slate-800/90 dark:active:bg-slate-800/70"
          >{t("navigation", "go_home")}</a
        >

        <a href={luckyURL} class="inline-block font-semibold text-blue-800 dark:text-blue-50"
          >{t("navigation", "feeling_lucky")}</a
        >
      </div>
    </div>
  </main>
</Layout>
