---
import Layout from "../layouts/Basic.astro";
---

<Layout description="HOME" title="Misael Taveras web">
  <main>
    <h1>Welcome to taverasmisael <span class="text-gradient">v2</span></h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
