---
import type { Language } from "@/utils/i18n";
import { getEntriesByLang, type CollectionKey } from "@/utils/content";
import CardPost from "./content/CardPost.astro";

interface Props {
  collection: CollectionKey;
  max?: number;
  lang: Language;
}

const { lang, collection, max = 4 } = Astro.props;
const allEntries = await getEntriesByLang(collection, lang);
const entries = allEntries.slice(0, max).sort((a, b) => (a.entry.data.date > b.entry.data.date ? -1 : 1));
---

<div class="grid sm:grid-cols-2 xl:grid-cols-4">
  {entries.map(entry => <CardPost post={entry.entry} meta={entry.meta} />)}
</div>
