<!-- TODO: USE the real testimonials -->
<!-- NOTE: This is also probably gonna be a React/Solid component instead of astro -->
<blockquote>
  <p>
    <em>
      Misael is a very talented developer. He is a great communicator and is always willing to help. He is very
      knowledgeable and is always looking to learn new things. He is a great asset to any team.
    </em>
  </p>
  <div class="mt-4 flex items-center space-x-4">
    <img
      src="https://avatars.githubusercontent.com/u/8240480?v=4"
      alt="Avatar of Jonathan"
      class="h-12 w-12 rounded-full"
    />
    <div class="text-sm font-medium not-italic">
      <span class="block text-gray-900 dark:text-gray-100">Jonathan</span>
      <span class="text-gray-500 dark:text-gray-400">Software Engineer</span>
    </div>
  </div>
</blockquote>
