---
import { getLocalizedPage, type Language } from "@/utils/i18n";

import HomeLayout from "@/layouts/pages/Home.astro";
export const prerender = true;
const lang = "es" satisfies Language;

const urls = {
  blog: getLocalizedPage(lang, "blog"),
  about: getLocalizedPage(lang, "about"),
  contact: getLocalizedPage(lang, "contact"),
};
---

<HomeLayout lang={lang} featuredPostSlug="es/10-consejos-que-yo-deberia-seguir">
  <Fragment slot="jumbotron">
    <p class="mb-4 text-3xl tracking-wide md:mb-6 md:text-5xl md:leading-snug">
      Hola, soy <span class="text-blue-900 dark:text-blue-50">Misael Taveras</span>
    </p>
    <p class="mb-2 md:mb-4">Soy un <span>FrontEnd Engineer</span> de República Dominicana.</p>
    <p class="mb-4 md:mb-6">
      Me encanta trabajar con <span class="font-semibold">React</span>, <span class="font-semibold">TypeScript</span> y <span
        class="font-semibold">Node</span
      >.
    </p>
    <p>
      Conoce más <a href={urls.about} class="font-semibold text-slate-950 underline dark:text-white" rel="prefetch"
        >sobre mí aquí
      </a>.
    </p>
  </Fragment>

  <Fragment slot="blog">
    <h2>Lo que escribo</h2>
    <p>
      En el blog podrás encontrar artículos sobre programación y software en general, pero también toco temas como la
      comunicación, productividad y aprendizaje.
    </p>
    <p>
      Mi misión es ayudar a las personas a aprender cosas nuevas de forma interesante. Por eso escribo sobre las cosas
      que aprendo y mis experiencias.
    </p>
  </Fragment>

  <Fragment slot="testimonials">
    <h2 class="text-center">¿Qué dicen?</h2>
    <p>
      Trabajar con diferentes equipos y personas, me ha dado la oportunidad de aprender mucho de ellos, y estoy más que
      agradgecido por eso. Aquí hay algunas de las cosas que han dicho sobre mi.
    </p>
  </Fragment>
</HomeLayout>
