---
import { AdmonitionTypes } from "./types";

export interface Props {
  type: (typeof AdmonitionTypes)[keyof typeof AdmonitionTypes];
  class?: string;
}

const { type, class: className } = Astro.props;
const accent = {
  [AdmonitionTypes.Alert]: "bg-red-400",
  [AdmonitionTypes.Disclaimer]: "bg-yellow-400",
  [AdmonitionTypes.Info]: "bg-green-400",
  [AdmonitionTypes.Tip]: "bg-blue-400",
}[type];
const color = {
  [AdmonitionTypes.Alert]: "bg-red-200 text-red-950",
  [AdmonitionTypes.Disclaimer]: "bg-yellow-200 text-yellow-950",
  [AdmonitionTypes.Info]: "bg-green-200 text-green-950",
  [AdmonitionTypes.Tip]: "bg-blue-200 text-blue-950",
}[type];
---

<div
  class:list={[
    "prose-p:m-0 relative rounded-sm p-2 pl-4 shadow-sm prose-a:font-normal prose-strong:text-current prose-a:text-current",
    color,
    className,
  ]}
>
  <div aria-hidden="true" class:list={["absolute inset-0 h-full w-1 rounded-sm", accent]}></div>
  <slot />
</div>
